div#decContenedor
{
	width: 997px;
	margin:0px auto;
	/*margin-top: -20px !important;
	//margin-top: -10px !important;*/
	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
}
div#decCabecera
{
	/*border-top: 2px red dotted;
	border-bottom: 2px red  dotted;*/
	float:left;
	/*width:995px;*/
	margin: 0px 0px 3px 0px;
	/*border-top: 20px solid #FFFFFF;*/

}
div#decMenuSup
{
	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
	float:left;
	width:995px;
	margin: 0px 0px 10px 0px;	
	}
div#decMenuVer{
	position: relative;
	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
	float:left;
	width:237px;
	margin: -8px 0px 0px 0px;	
	z-index: 10;
}
div#decMigas
{
	position: relative;

	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
	float:right;
	width:743px;
	margin: 0px 0px 19px 15px;	
	z-index: 20;

}
div#decBody
{
	position: relative;

	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
	float:right;
	width:743px;
	margin: 0px 0px 0px 0px;	
	z-index: 30;
}
div#decCentro
{
	/*background-color: red;
	min-height: 530px;*/
	width:995px;
	margin: 0px 0px 0px 0px;	
	padding:0px 0px 16px 0px;
	float:left;
}
div#decPie
{
	/*border-top: 2px black dotted;
	border-bottom: 2px black  dotted;*/
	float:left;
	width:995px;
	margin: 0px 0px 0px 0px;	
	/*height: 31px;*/
	
}
div#contenidosinflash{
	display: none;
}
/**************** fin deccontenido.jsp *********/
/*************** ticker *****************/
.puntos_ticker{
	float:left;
	border-top: 9px solid #FFFFFF;
	text-decoration: none;
	margin: 3px 0px 0px;
	padding: 0px;
}
.puntos_ticker2{
	float:left;
	text-decoration: none;
	padding:2px 0 0 2px;
	margin:0px;
}
*:first-child+html .puntos_ticker2{
	padding:0px 0 0 2px;
	margin-top: -1px;	
}
* html .puntos_ticker2{
	padding:0px 0 0 2px;
	margin-top: -1px;	
}
*:first-child+html .puntos_ticker{
	margin: 0px;	
}
* html .puntos_ticker{
	margin: 0px;	
}
#iframe_ticker{
	width: 90%;
	height:2.65em;
}
div.content_ticker{
	float:left;
	width:100%;
}
.tickerh1{
	position: absolute;
	top: -1000px;
}
.imgVentana{
	border:none;
	padding-left: 6px;
}
#txtTicker{
	float: left;
	/*position: relative;
	top: 10px; 
	left: 10px;*/
	padding:10px 0 0 5px;
}
#tickerEstilo{
	 display:inline; 
	 position:relative;
	 top: 0px; 
}
#txtTick{
	display:inline;
	position:relative;
	top: 0px; 

}
.dec_tick{
	border-right: 0px solid #FFFFFF;
	border-right: 5px solid #FFFFFF;
	
	color:#276015;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
}
.dec_tickfin
{
	border-left: 5px solid #FFFFFF;
	
	color:#66ab05;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
}
.dec_tickbolsa{
	border-top: 10px solid #FFFFFF;
	color:#66ab05;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	padding-left: 6px;
}
.dec_tick2{
	border-left: 8px solid #FFFFFF;
	color:#363636;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	
	margin: 0px;
	padding: 0px;
	float: left;

}
.dec_tick3{
	color:#828282;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	
	margin: 0px;
	padding: 0px;
	float: left;

}
.dec_tick4{
	border-left: 7px solid #FFFFFF;
	color:#363636;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	
	margin: 0px;
	padding: 0px;
	float: left;

}
.dec_tick5{
	border-left: 4px solid #FFFFFF;
	color:#363636;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	
	margin: 0px;
	padding: 0px;
	float: left;

}
.dec_tick7{
	border-left: 24px solid #FFFFFF;
	border-right: 6px solid #FFFFFF;
	
	color:#276015;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.81em;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;

}
#dec_tick_flecha{
	color:#262626;
	font-family: "Trebuchet MS", verdana, sans-serif;
	font-size: 0.75em;
	
	font-weight: bold;
}
body.sin_margen{
	margin: 0;
	background-color: #ffffff;
}


/******************FIN TICKER***************************/

/******************PRUEBAS TABLAS***************************/
.tablaanidada{
	border-bottom:1px solid #707070;
}
.tablaanidada2{
	border-bottom:1px solid #707070;
	border-top:1px solid #707070;
}
/* Estilos para el flash de la home cuando no hay javascript*/
div.contentsinflash{
	/*height:11.25em; */
	width:94%;
	font-family: "Trebuchet MS", verdana, sans-serif;
	margin:0px;
	padding:20px 30px 20px 30px;
	background-image: url(../img/fondo_flash.gif);
	background-repeat: no-repeat;
	float:left;	
}
div.contentsinflash h2{
	color:#707070;
	font-size: 1.25em;
	margin:0px 0px 5px 0px;
	padding:0px 0px 2px 10px;
	border-bottom:1px solid #276015;
	width: 90%;
}
div.contentsinflash p{
	color:#262626;
	margin:0px;
	padding:0px 0px 0px 10px;
}
div.contentsinflash p span{
	text-transform: uppercase;
	font-size: 0.688em;
}
div.contentsinflash p a{
	text-decoration: none;
	color:#276015;
	font-size: 0.813em;
	font-weight: bold;
}
/*Fin  Estilos para el flash de la home cuando no hay javascript*/

.abbr {
	color:#276015;
	font-family: "Trebuchet MS", verdana, sans-serif;
	text-decoration: none;
	margin: 0px;
	padding: 0px 3px 0px 0px;
	float: left;
	background-repeat:no-repeat;
}

*:first-child+html span.abbr { /*Explorer 7*/
	background-image:url(../img/ticker/puntoTicker.gif);
	padding: 0px 5px 0px 0px;
}
* html span.abbr { /*Explorer 6*/
	background-image:url(../img/puntoTicker.gif);
	padding: 0px 4px 0px 0px;
}

.abbr .expand {

display: inline;
position: absolute;
top: -9999em;
width: 0;
height: 0;
overflow: hidden;

}
.abbr .point:after { 
content: ".";
}

dl.listTicker{
	list-style: none;
	margin: 0px;
	padding: 0px;
	float:left;
	
}	
dl.listTicker dt, dl.listTicker dd{
	margin: 0px;
	padding: 0px;
	display: inline;
 
}
div#etiquetasBuscador{
	float:left;
}

