#subcolumnmain {
	FLOAT: right; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 10px; WIDTH: 720px
}
#subcolumnmain H3 {
	FONT-WEIGHT: normal
}
#subcolumnmain H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: 5px solid
}
#subfeature {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 0px
}
#subfeatureheaderfull H2 {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 3px; HEIGHT: 30px
}
#subfeatureheader H2 {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; COLOR: #fff; MARGIN-RIGHT: 255px; PADDING-TOP: 3px; HEIGHT: 30px
}
#maininfo {
	CLEAR: both; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #fff
}
#maininfoleft {
	FLOAT: left; WIDTH: 462px
}
#corpleft {
	FLOAT: right; WIDTH: 350px
}
#corpright {
	
}
.slitem {
	BORDER-RIGHT: #888 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/gradient-purple.jpg) repeat-x left top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #777 2px solid; TEXT-ALIGN: center
}
.corpitem {
	BORDER-RIGHT: #888 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/gradient-purple.jpg) repeat-x left top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #777 2px solid; TEXT-ALIGN: center
}
.corpitem:hover {
	BACKGROUND: url(/images/gradient-darkpurple.jpg) repeat-x left top
}
.corpitem:hover H3 {
	COLOR: #fff! important
}
.pppitem {
	BORDER-RIGHT: #888 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/gradient-green.jpg) repeat-x left top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #777 2px solid; TEXT-ALIGN: center
}
.pppitem:hover {
	BACKGROUND: url(/images/gradient-darkgreen.jpg) repeat-x left top
}
.pppitem:hover H3 {
	COLOR: #fff! important
}
#maininforight {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 472px; BORDER-LEFT: 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid
}
#columnleft {
	FLOAT: left; WIDTH: 355px
}
#storycolumnleft {
	WIDTH: 355px
}
#columnright {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 365px; BORDER-TOP-STYLE: solid; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
#storycolumnright {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 355px; WIDTH: 350px; BORDER-TOP-STYLE: solid; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; POSITION: absolute; BORDER-BOTTOM-STYLE: solid
}
#maininfobottom {
	CLEAR: both
}
.threecolumn TD {
	WIDTH: 230px
}
#subcolumnside {
	MARGIN-RIGHT: 730px
}
#tertiarynav LI {
	PADDING-BOTTOM: 10px
}
#tertiarynav {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.columnbox {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.error P {
	COLOR: #f00
}
.error PRE {
	BACKGROUND: #fff; MARGIN-LEFT: -260px; COLOR: #c00
}
TABLE.grid {
	BORDER-TOP: #fff 2px solid; PADDING-BOTTOM: 10px; BORDER-LEFT: #fff 2px solid; WIDTH: 100%
}
TABLE.grid TD {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 2px solid; TEXT-ALIGN: left
}
TABLE.grid TH {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 2px solid; TEXT-ALIGN: left
}
TABLE.bsggrid TH {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 2px solid; TEXT-ALIGN: left
}
TABLE.grid TD {
	FONT-WEIGHT: bold; FONT-SIZE: 0.65em
}
TABLE.grid TD.firstcol {
	PADDING-LEFT: 10px
}
TABLE.grid TH {
	FONT-WEIGHT: bold; COLOR: #fff; WHITE-SPACE: nowrap
}
TABLE.grid TD.alt {
	BACKGROUND-COLOR: #eeeeee
}
TABLE.grid TD P {
	FONT-SIZE: 100%
}
#account DIV.form TABLE.detail TH P {
	FONT-SIZE: 100%
}
TABLE.grid H3.news {
	FONT-SIZE: 1em; COLOR: #000
}
TABLE.grid IMG.news {
	CLEAR: both; FLOAT: left; MARGIN: 5px 10px 20px
}
TABLE.grid TH {
	FONT-SIZE: 0.75em; VERTICAL-ALIGN: top
}
TABLE.grid TR.subhead TD {
	FONT-SIZE: 0.7em
}
TABLE.grid TR.footer TD {
	FONT-SIZE: 0.7em
}
TABLE.grid TD.checkbox {
	BACKGROUND-POSITION: center 50%; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
TABLE.grid TH {
	BACKGROUND-COLOR: #70b62b
}
TABLE.grid TD {
	BACKGROUND-COLOR: #e7eddf
}
TABLE.grid TD.firstcol {
	BACKGROUND-COLOR: #e7eddf
}
TABLE.grid TR.subhead TD {
	BACKGROUND-COLOR: #8ec359
}
TABLE.grid TR.footer TD {
	BACKGROUND-COLOR: #70b62b
}
TABLE.grid TD.checkbox {
	BACKGROUND-IMAGE: url(/images/vm_nonprofits_dot.gif)
}
#newsletter {
	DISPLAY: block; MARGIN: 1em 0px
}
#newsletter H1 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 2em; MARGIN: 0.67em 0px
}
#newsletter H2 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0.83em 0px
}
#newsletter H3 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1.17em; MARGIN: 1em 0px
}
#newsletter H4 {
	DISPLAY: block; FONT-WEIGHT: bold; MARGIN: 1.33em 0px
}
#newsletter H5 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.83em; MARGIN: 1.67em 0px
}
#newsletter H6 {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.67em; MARGIN: 2.33em 0px
}
#newsletter TABLE {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; TEXT-INDENT: 0px; BORDER-COLLAPSE: separate; moz-box-sizing: border-box
}
UNKNOWN {
	FLOAT: left
}
UNKNOWN {
	FLOAT: right
}
UNKNOWN {
	BORDER-COLLAPSE: collapse
}
#newsletter CAPTION {
	TEXT-ALIGN: center; moz-box-sizing: border-box
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
UNKNOWN {
	MARGIN-RIGHT: 0px
}
UNKNOWN {
	MARGIN-LEFT: 0px
}
#newsletter TR {
	VERTICAL-ALIGN: inherit
}
#newsletter COL {
	
}
#newsletter COLGROUP {
	
}
#newsletter TBODY {
	VERTICAL-ALIGN: middle
}
#newsletter THEAD {
	DISPLAY: table-header-group; VERTICAL-ALIGN: middle
}
#newsletter TFOOT {
	DISPLAY: table-footer-group; VERTICAL-ALIGN: middle
}
#newsletter B {
	FONT-WEIGHT: bolder
}
#newsletter STRONG {
	FONT-WEIGHT: bolder
}
#newsletter I {
	FONT-STYLE: italic
}
#newsletter CITE {
	FONT-STYLE: italic
}
#newsletter EM {
	FONT-STYLE: italic
}
#newsletter VAR {
	FONT-STYLE: italic
}
#newsletter DFN {
	FONT-STYLE: italic
}
#newsletter U {
	TEXT-DECORATION: underline
}
#newsletter INS {
	TEXT-DECORATION: underline
}
#newsletter S {
	TEXT-DECORATION: line-through
}
#newsletter STRIKE {
	TEXT-DECORATION: line-through
}
#newsletter DEL {
	TEXT-DECORATION: line-through
}
#newsletter UL {
	DISPLAY: block; MARGIN: 1em 0px; LIST-STYLE-TYPE: disc; moz-padding-start: 40px
}
#newsletter OL {
	DISPLAY: block; MARGIN: 1em 0px; LIST-STYLE-TYPE: decimal; moz-padding-start: 40px
}
#newsletter LI {
	DISPLAY: list-item; moz-float-edge: margin-box
}
#newsletter HR {
	DISPLAY: block; MARGIN: 0.5em auto; HEIGHT: 2px; moz-box-sizing: border-box; moz-float-edge: margin-box
}
UNKNOWN {
	
}
UNKNOWN {
	COLOR: blue
}
.webinarbox {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #999 1px solid
}
.intro {
	BACKGROUND: url(/images/gradient-green.jpg) repeat-x left top
}
.advanced {
	BACKGROUND: url(/images/gradient-purple.jpg) repeat-x left top
}
.advancedtext {
	COLOR: #783492! important
}
.advanced A {
	COLOR: #783492! important
}
.advanced H4 {
	BORDER-LEFT-COLOR: #783492! important
}
.boomer {
	BACKGROUND: url(/images/gradient-blue.jpg) repeat-x left top
}
.boomertext {
	COLOR: #0c0982! important
}
.boomer A {
	COLOR: #0c0982! important
}
.boomer H4 {
	BORDER-LEFT-COLOR: #0c0982! important
}
