.autocomplete {
	background:#D4E5F6 url(../img/bg-autocomplete.png) top left repeat-x;
	border:1px solid #A6C0D7;
	border-top:none;
	margin:-4px 0 0 -1px;
	padding:0;
	width:250px!important;
	z-index:100;
	max-height:400px;
	overflow:hidden;
	-o-box-shadow:5px 5px 16px #3B6086;
	-icab-box-shadow:5px 5px 16px #3B6086;
	-khtml-box-shadow:5px 5px 16px #3B6086;
	-moz-box-shadow:5px 5px 16px #3B6086;
	-webkit-box-shadow:5px 5px 16px #3B6086;
	box-shadow:5px 5px 16px #3B6086;
}
.autocomplete ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.autocomplete ul li.selected {
	background-color:#BCD7F1;
}
.autocomplete ul li {
	border-bottom:1px solid #BDD6E8;
	border-top:1px solid #FFF;
	color:#036;
	cursor:pointer;
	display:block;
	font-size:12px;
	height:13px;
	line-height:12px;
	list-style-type:none;
	margin:0;
	padding:5px 6px;
	white-space:nowrap;
}
.autocomplete ul li .informal {
	display:none;
}
#home .autocomplete {
	margin:-8px 0 0 0;
}
#mm-breadcrumbs {
	font:11px Arial, Helvetica, sans-serif;
	background:#E4EFF9 url(../img/bg-breadcrumbs.png) repeat-x scroll center bottom;
	border-bottom:1px solid #D4E5F6;
	height:24px;
}
#mm-breadcrumbs .mm-bc-crumbs {
	float:left;
	margin:6px 0 3px 5px;
	max-height:25px;
	white-space:nowrap;
}
#mm-breadcrumbs .mm-bc-crumbs strong {
	color:#666;
	float:left;
	font-weight:normal;
	margin-right:6px;
}
#mm-breadcrumbs .mm-bc-crumbs ul li {
	background:url(../img/breadcrumb-separator.gif) no-repeat left 4px;
	display:inline;
	padding-left:8px;
	padding-right:2px;
}
#mm-breadcrumbs .mm-bc-crumbs ul li.mm-active {
	background-image:url(../img/breadcrumb-separator-active.gif);
	color:#FB6721;
	margin-left:3px;
}
#mm-breadcrumbs .mm-bc-crumbs ul li.mm-active a {
	color:#FB6721;
	text-decoration:none;
}
#mm-breadcrumbs .mm-bc-result-summary {
	color:#666;
	float:right;
	padding:2px;
	text-align:right;
	width:25em;
}
#mm-breadcrumbs .mm-bc-result-summary span {
	float:left;
	line-height:20px;
}
#mm-breadcrumbs .mm-bc-result-summary span.f {
	border-right:1px solid #D4E5F6;
	padding-right:4px;
}
#mm-breadcrumbs .mm-bc-result-summary span.l {
	border-left:1px solid #fff;
	padding-left:4px;
}
#mm-breadcrumbs .mm-bc-result-summary span.l select {
	vertical-align:middle;
}
#mm-breadcrumbs .mm-bc-result-summary .mm-alt {
	color:#F30;
}
body #content a.btn {
	padding:4px 15px!important;
}
button.btn, body #content a.btn {
	background:url(../img/button-sprite.png) repeat-x 0 0 #053970;
	border:1px solid #053970;
	color:#fff;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	opacity:.9;
	padding:2px 12px 3px 12px;
	text-decoration:none;
	text-shadow:0 1px 0 #013B75;
	width:auto;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
button.btn:hover, body #content a.btn:hover {
	opacity:1;
}
*+html button.btn, * html button.btn {
	border:1px transparent solid!important;
	padding:3px 1px 3px 1px;
}
*+html body #content a.btn, * html body #content a.btn {
	padding:4px 11px;
}
* html body #content a.btn {
	height:21px;
	float:left;
	display:block;
}
button.btn:active, body #content a.btn:active {
	background-position:0 -28px;
}
button.btn-disabled, body #content a.btn-disabled {
	background-color:#808080;
	background-position:0 -115px;
	border-color:#808080;
	color:#808080;
	cursor:default;
	text-shadow:0 1px 0 #BEBEBE;
}
button.btn-alt, body #content a.btn-alt {
	background-color:#930;
	background-position:0 -57px;
	border-color:#930;
	color:#900;
	font-weight:bolder;
	text-shadow:0 1px 0 #FFA900;
}
button.btn-alt:active, body #content a.btn-alt:active {
	background-position:0 -86px;
}
button.btn-disabled:active, body #content a.btn-disabled:active {
	background-position:0 -115px;
}
button.btn:focus, body #content a.btn:focus {
	outline:none;
}
.button-bar {
	border:1px solid #B3CAE0;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.button-bar li {
	display:inline;
	float:left;
	border-right:1px solid #B3CAE0;
}
.button-bar li:last-child {
	border-right:none;
}
.button-bar li a {
	background:#EBF1F7 url(../img/bg-button-bar.png) repeat-x;
	float:left;
	padding:1px 5px 1px 5px;
	text-decoration:none;
}
.button-bar li a.active, .button-bar li a:active {
	outline:none;
	background:#EBF1F7 url(../img/bg-button-bar-down.png) repeat-x;
	color:#FF4500;
}
.button-bar li:first-child a {
	margin:1px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-radius-top-left:5px;
	-webkit-border-radius-bottom-left:5px;
}
.button-bar li:last-child a {
	margin:1px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-radius-top-right:5px;
	-webkit-border-radius-bottom-right:5px;
}
#mm-subheader {
	background:#F1F7FC url(../img/bg-light.png) repeat-x scroll center bottom;
	border-bottom:1px solid #A6BFD7;
	border-top:1px solid #fff;
	font:14px Arial, Helvetica, sans-serif;
	height:25px;
	padding:7px;
}
#mm-search {
	float:left;
}
#mm-search label {
	margin-right:8px;
}
#mm-search label strong {
	line-height:25px;
	margin-right:1px;
	padding-top:3px;
}
#mm-search label#mm-search-what strong {
	color:#3F87D0;
}
#mm-search label#mm-search-where {
	margin-right:0;
}
#mm-search input {
	border:1px solid #B4C9DD;
	height:18px;
	font:normal 100% Arial, Helvetica, sans-serif;
	padding:3px;
	width:14.5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#mm-search div.autocomplete {
	top:38px!important;
}
*+html #mm-search input, *+html #mm-subheader .btn {
	vertical-align:middle;
}
#mm-sh-cities {
	float:left;
	margin-left:15px;
}
*+html #mm-sh-cities {
	max-width:340px;
}
*+html #mm-sh-cities ul>li {
	display:inline;
	float:none;
}
#mm-sh-cities strong {
	float:left;
	margin-right:8px;
	padding-top:8px;
}
#mm-sh-cities ul {
	float:left;
	font-size:100%;
}
#mm-sh-cities ul li {
	float:left;
	margin-right:4px;
	line-height:15px;
}
#mm-sh-cities ul li.clear {
	clear:left;
}
#mm-sh-cities a.more {
	background:url(../img/blue-dwn.png) no-repeat right center;
	color:#06C;
	line-height:25px;
	padding-right:12px;
	text-decoration:none;
}
#mm-sh-cities a.more em {
	text-decoration:underline;
	font-style:normal;
}
#mm-sh-cities li a.more {
	background:url(../img/breadcrumb-separator-active.gif) no-repeat left center;
	color:#F30;
	font-size:90%;
	font-weight:bolder;
	padding-right:0;
	padding-left:8px;
}
#mm-sh-cities li a.more:hover {
	text-decoration:underline;
}
#mm-sh-cities #mm-sh-more-cities {
	background:#D4E5F6 url(../img/bg-autocomplete.png) top left repeat-x;
	border:1px solid #A6C0D7;
	border-top:none;
	margin:5px 0;
	max-height:400px;
	overflow:hidden;
	padding:0 10px 0 10px;
	position:absolute;
	width:332px;
	z-index:100;
	_top:39px;
	_padding-bottom:10px;
	_margin-left:-155px;
	-o-box-shadow:5px 5px 16px #3B6086;
	-icab-box-shadow:5px 5px 16px #3B6086;
	-khtml-box-shadow:5px 5px 16px #3B6086;
	-moz-box-shadow:5px 5px 16px #3B6086;
	-webkit-box-shadow:5px 5px 16px #3B6086;
	box-shadow:5px 5px 16px #3B6086;
}
*+html #mm-sh-cities #mm-sh-more-cities {
	top:36px;
	margin-left:-120px;
}
#mm-sh-cities #mm-sh-more-cities img.mm-close {
	cursor:pointer;
	position:absolute;
	_position:static;
	_float:right;
	margin-top:5px;
	right:5px;
	_top:40px;
}
body #mm-sh-cities #mm-sh-more-cities li strong {
	clear:left;
	display:block;
	width:100%;
	margin-bottom:5px;
}
#mm-sh-cities #mm-sh-more-cities li ul {
	margin-bottom:5px;
	float:left;
}
body #mm-sh-cities #mm-sh-more-cities li ul li {
	float:left;
	margin-right:23px;
	margin-bottom:8px;
	width:140px;
}
*+html #mm-sh-cities #mm-sh-more-cities li {
	display:block;
	float:none;
	width:100%;
}
*+html #mm-sh-cities #mm-sh-more-cities li ul {
	float:none;
}
body #mm-search label input, body #mm-search button {
	_vertical-align:middle;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline
}
:focus {
	outline:0
}
body {
	line-height:1;
	color:black;
	background:white
}
ol, ul {
	list-style:none
}
table {
	border-collapse:separate;
	border-spacing:0
}
caption, th, td {
	text-align:left;
	font-weight:normal
}
blockquote:before, blockquote:after, q:before, q:after {
	content:""
}
blockquote, q {
	quotes:""""
}
body {
	margin:0;
	padding:0;
	font-family:Verdana, Arial, sans-serif;
	font-size:small;
	text-align:center;
	line-height:1.5em;
	color:#036;
	background-color:#bcd7f1
}
a, a:visited {
	padding:0 0 1px 0;
	color:#06c
}
a:hover {
	color:#147;
	text-decoration: underline;
}
a.more {
	padding-right:7px; 
}
a.bullet, a.bullet:hover, a.bullet:visited {
	margin:0 0px 0 0;
	font-weight:normal;
background:url(../img/datadialogsbullet.gif) no-repeat left center; padding-left:13px}
a.toTop, a.toTop:hover, a.toTop:visited{background:url(../img/backtop_icon.gif) no-repeat; display:block; padding-left:24px; width:80px; height:23px; line-height:21px; font-weight:normal !important; margin:0px 0; color:#369 !important}

a.print{ background: url(http://static2.menumania.co.nz/img/printer.png) no-repeat left center; padding-left:23px}

a.external,a.external:visited{background:url(../img/external.png) center right no-repeat; padding-right:13px}
a.rss,a.rss:visited{background:url(../img/feed-icon12x12.png) left center no-repeat; padding-left:16px; margin:0px}

a.sendToFriend, a.sendToFriend:visited{background:url(../img/email-contact-grey.gif) no-repeat; padding-left:19px}
a.addBookmark, a.addBookmark:visited{background:url(../img/add_bookmark.gif) no-repeat left center; padding-left:19px}

.actionSprite { background: transparent url(../img/ico_map_1-1-1.gif) 50% -8px no-repeat;}

#reservationLink{background-position: -3px -259px;padding-left:20px;}
#menuLink{background-position: -3px -239px;padding-left:20px;}

a.claimBiz, a.claimBiz:visited {background:url(../img/ico_map.gif) no-repeat -5px -80px;padding-left:16px;margin-left:7px;color: #F00000;font-weight:bold;font-size: 1.1em;}

a.mm-alt {color: #FF4500;}

a.send-pm, a.send-pm:visited {padding:0px 0px 0px 21px; background-position: -1px -278px;}

a.flag_it, a.flag_it:visited {color:#999; padding:1px 0px 1px 18px; background-position: -2px -117px;}

#add-biz {padding: 0 5px 0 0px;	}

#restUpdate{background-position: -3px -50px;padding-left:16px;color: #F00000;font-weight:bold;font-size: 1.1em;}

.reallybigger {font-size:18px;}
.evenbigger{font-size:19px}
.bigger{font-size:12px}
.smaller{font-size:11px}
.smallest{font-size:10px}

.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncent{text-align:center;}
.aligntop {vertical-align:top;}
.alignmid{vertical-align:middle;}
.alignbtm {vertical-align:bottom;}

.pseudohr{border-bottom:1px solid #ccc;margin:0px 0px 5px 0px;line-height:5px;font-size:1px;}
.pseudoLink{cursor:pointer;color: #66c;}
.pseudoLink:hover{cursor:pointer;color: #66c;text-decoration:underline;}
.floatLink {float: right;}
.nlheight{line-height:normal;}
p.stripped{margin: 0; padding: 0;}

body.fixBg{-moz-opacity : 0.9999;}

#main-navigation{height:27px; width:100%;  z-index:255; border-bottom:1px solid #CCC; background-color:#F5F5F5; line-height:27px}
#main-navigation .navigation{width:974px; margin:0 auto; color:#333; font-size:12px; font-weight:normal; padding:0px 13px}
#main-navigation .navigation a{color:#025395; text-decoration:underline}

#network_sites{float:left;padding:0 5px;list-style:none outside;text-align:center;color:#000;}
#network_sites .active{font-weight:bold;text-decoration:none;}
#network_sites .last{border-right:0 none;}

#main-navigation .navigation .usernav{float:right}
#main-navigation .usernav ul{float:right; padding:5px 10px; text-align:center; line-height:normal; list-style:none outside}
#main-navigation .usernav li{float:left; border-left:1px solid #626669; padding:0 5px}
#main-navigation .usernav li.first{border-left:0}
#main-navigation .usernav #facebookSignIn{padding-left:18px; background:transparent url(../img/icon_facebook.gif) no-repeat center left}

#header{background:#0066CA url(../img/header-bg.jpg) repeat-x top left; margin:0; font-size:95%; text-align:left; padding-bottom:4em; border-bottom:1px solid #fff}
#header #header-inner{position:relative; width:980px; margin:0 auto; padding:7px 0 0px 0px}
#header h1{float:left; margin:0; padding:0px 0.05em 0; text-indent:-9999px}
#header h1 a{border-style:none;display:block;width:206px;height:82px;background:url(../img/logo-png32-alpha.png) no-repeat top left;_background:url(../img/logo-alpha.gif) no-repeat top left;margin-top:0;}

#header #star-free{position:absolute; top:11px; right:1px; width:129px; height:122px; background-repeat:no-repeat; display:block; cursor:pointer; background:url(../img/starfree_header3.png);
}
#header #star-free[id] {
	background-image:url(../img/starfree_header3.png)
}
#user_info {
	position:absolute;
	right:5em;
	top:0;
	color:#fff;
	font-size:.9em
}
#user_info a {
	color:#fff
}
#wrap {
	position:relative;
	width:980px;
	font-size:95%;
	margin:0 auto;
	text-align:left;
	background:#fff;
	padding-bottom:3em;
	padding-right:0px
}
#wrap-inner {
	padding:10px 10px 10px 20px
}
#content {
	float:right;
	width:74%
}
#content-inner {
	margin:0 0px 0px 25px
}
#sidebar {
	float:left;
	width:26%;
	font-size:98%;
	line-height:1.5em;
	margin:0 0px 5px 0;
	background-color:transparent;
	display:inline;
}
body.noside #content {
	width:95%;
	padding:0 30px 20px 0px
}
body.one-column-left #content {
	width:70%;
	float:left;
	padding:0 10px 20px 0px
}
#nav {
	position:relative;
	width:979px;
	margin:0 auto;
	text-align:left;
	margin-top:-2.6em;
	background-color:#539DE6;
	border-top:1px solid #65A8EE;
	border-right:1px solid #65A8EE
}
#nav ul {
	border-right:1px solid #65A8EE;
	margin:0;
	padding:0;
	list-style:none outside;
	padding:0em 0em 0em 0em;
	float:left;
	text-align:center
}
#nav li {
	border-left:1px solid #65A8EE;
	border-right:1px solid #4A8ED0;
	display: block;
	float:left;
	margin:0;
	padding:0;
}
#nav li a {
	float:left;
	margin:0;
	padding:0.5em 1.5em;
	font-size:100%;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	display:block;
	text-align:center
}
#nav li a.current, #nav li#blog a.current {
	font-weight:bold;
	border-top:1px solid #fff;
	margin-top:-1px
}
#nav ul li a:hover {
	background-color:#BCD7F1;
	color:#036
}
li a.current, #nav li#blog a.current {
	background:#fff;
	color:#036 !important
}
li a.current:hover {
	background:#fff !important;
	color:#000 !important
}
#nav ul li#blog a {
	background-color:#ff5b00;
	color:#fff;
	-moz-border-radius-topleft:3px;
	-khtml-border-top-left-radius:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-khtml-border-top-right-radius:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	text-shadow:#b5421c 1px 1px 1px
}
div#subnav {
	padding: .5em .5em;
	float: right;
	background-color: #fbe785;
	_padding-bottom: 4px;
	_padding-top: 3px;
}
#subnav a {
	margin:0 5px;
	padding:4px 0em 0 0;
	font-weight:bold;
	font-size:90%
}
#subnav a:link, #subnav a:visited {
	text-decoration:underline
}
#subnav a:hover {
	text-decoration:underline
}
#subnav a.current, #subnav a.active {
	text-decoration:underline;
	color:#333
}
h1 {
	margin:0px 0 .8em 0;
	padding:0;
	font-size:1.4em;
	font-weight:bold;
	color:#2D405B
}
#join_info h1 a {
	margin-left:1.3em
}
h2 {
	margin:5px 0px 15px 0;
	padding:0;
	font-size:1.2em;
	color: #FF4500;
}
h3 {
	margin:0em 0 3px 0;
	padding:0 0 0px 0;
	font-size:1.1em;
	font-weight:bold;
	color: #FF4500;
}
h3 img {
	margin-top:0.8em
}
h4 {
	clear:both;
	margin:1px 0 6px 0;
	padding:.3em 0 0px 0;
	font-size:1em;
	font-family:Georgia;
	font-weight:bold;
	letter-spacing:0px;
	color: #FF4500;
}
.noside p, #content p, #mainColumn p {
	margin:0 0 1.3em 0;
	padding:0
}
span.amp {
	font-size: 110%;
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
}
h1.icon, h2.icon, h3.icon, h4.icon {
	padding:0.5em 1em 0.5em 45px;
	color:#000;
	font-size:15px
}
#sidebar h3 {
	margin:0;
	padding:0 0 3px 0px;
	font-size:105%;
	font-weight:bold;
	letter-spacing:1px
}
#sidebar p {
	margin:0 0 12px 0;
	font-size:98%;
	font-weight:normal;
	line-height:1.5em;
	padding:0
}
#sidebar ul, #sidebar dl {
	margin:0;
	padding:0;
	list-style:none
}
#sidebar li {
	margin:0 0 .5em 8px;
	padding:0 0 0 12px;
	line-height:1.4em; 
}
#sidebar #mapdiv {
	width: 238px;
	height:245px;
	border: 1px solid #999;
	overflow:hidden;
	position:relative
}
#sidebar #static_map {
	position:absolute;
	left:0px;
	top:0px;
	z-index:2
}
#sidebar #biz_marker {
	position:absolute;
	left:105px;
	top:94px;
	z-index:3;
	cursor:pointer;
}
#sidebar #mapLink {
	width:100%;
	margin:0 0 10px 2px;
	font-size:10px;
}
#sidebar .promo {
	text-align:center;
	margin:15px auto 10px auto;
	width:250px;
}
#comps_lst {
	margin-top:30px
}
#comps_lst h3 {
	font-family:Arial;
	font-weight:bold;
	font-size:2em
}
#comps_lst li {
	width:20.5em;
	float: left;
	margin:0 0 .5em 1px;
	padding:.7em 0 1.2em 1px;
	border:none;
	line-height:normal;
	border-bottom:1px dashed #e3e3e3;
	overflow:hidden
}
#comps_lst li a {
	color:#d54e21;
	overflow:hidden
}
#comps_lstli.last {
	margin-bottom:2.5em;
	padding-bottom:0;
	border:none
}
#comps_lst li a img {
	float:left;
	display:block;
	margin:0 10px 0 0;
	padding:0;
	border:none;
	background:none;
	border:1px solid #e0e0d5
}
#comps_lst li .comp_intro {
	padding-top:7px;
	font-size:11px
}
#footer {
	width:100%;
	clear:both;
	margin:0;
	margin-bottom:0;
	padding:10px 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	background-color:#1774D3; 
}
#footer-inner {
	position:relative;
	width:980px;
	color:#fff;
	margin:0 auto;
	padding:0 0px 0 0px;
	text-align:left;
	font-size:85%
}
#footer-inner a {
	color:#BCD7F1
}
#footer p {
	margin:0;
	padding:0
}
#copyright {
	color:#fff
}
#content ul, #content ol, #content dl {
	margin:0 0 1.5em 0;
	padding:0
}
#content ul, #content ol {
	margin-left:20px
}
#content ol {
	padding-left:20px
}
#content ul {
	list-style:none
}
#content ul li {
	padding:4px 0 4px 15px;
	line-height:1.4em;
	background:url(../img/default-bullet.gif) no-repeat 5px 9px
}
#content ul li img {
	vertical-align:middle
}
#content dl dt {
	font-weight:bold
}
#content dl dd {
	margin:0 0 15px 0;
	padding:0
}
#content ul#what_you_get {
	margin:0 0 1em 0;
	padding:0 0 0 20px;
	position:relative;
	list-style-type:none;
	background-position:top left;
	background-repeat:no-repeat;
	color:#363535;
	line-height:1.3em
}
ul#what_you_get li {
	border-bottom:1px solid #8bbbea;
	font-size:100%;
	padding:.4em 0;
	background-image:none
}
.related_biz {
	width:300px;
	float:left;
}
#content .related_biz ul {
	margin: 0px 20px 5px 13px;
	padding: 0;
	list-style: none;
}
#content .related_biz ul li {
	padding: 4px 0 4px 13px;
	border-bottom: 1px dotted #88b9ea;
	background-position: 0 10px;
}
#content .related_biz ul li img {
	float: right;
}
#content ul.browse {
	width:28%;
	float:left;
	margin:.5em 2em 1em 0.3em;
	padding:0;
	overflow:hidden;
	list-style:none
}
#content ul.browse li {
	margin:0;
	padding:0;
	border-bottom:1px dotted #88b9ea;
	background:none
}
#content ul.browse li.nolink {
	display:block;
	padding:3px 4px
}
#content ul.browse li span.count {
	padding:0 0px 0 5px;
	font-size:.8em;
	color:#666;
	font-weight:normal
}
#content ul.browse li a {
	text-decoration:none;
	display:block;
	padding:3px 4px;
	font-weight:bold
}
#content ul.browse_suburbs li a {
	padding:2px 4px
}
#content ul.browse li a:hover {
	background:#8bbbea
}
#content ul.browse li a img {
	margin:0 6px 0 0;
	vertical-align:middle
}
#content .col1 {
	float:left;
	width:320px;
	padding:0 60px 0 0;
	margin:0px
}
#content .col2 {
	float:left;
	margin:0px;
	padding:0;
	width:320px
}
ul.inline {
	list-style:none;
	padding:0px
}
ul.inline li {
	display:inline;
	padding:0 0 4px 0px;
	line-height:1.4em
}
ul.inline li a {
	color:#fff
}
#wrap .left {
	float:left
}
#content .right {
	float:right
}
.align-right {
	text-align:right
}
#wrap .align-left {
	text-align:left
}
.align-center {
	text-align:center
}
#mobile_message {
	display:none;
	text-align:center;
}
@media handheld {
#mobile_message {
	display:block;
	font-weight:bold;
	color:#C41200;
}
}
div.instruction {
	background:#fcfcd6;
	padding:.25em 3px;
	margin:7px 0;
	clear:both;
	position:relative;
	font-weight:bold;
	color:#333;
	font-size:16px
}
div.alert {
	margin:0px 0 10px 0;
	padding:7px 15px;
	border-top:1px solid #fc6;
	border-bottom:1px solid #fc6;
	background:#ffc
}
div.alert h4 {
	color:#333333;
}
h4.alert {
	margin-bottom:15px;
	padding:10px 15px 10px 35px;
	font-family:"Lucida Grande", Verdana, sans-serif;
	font-size:110%;
	text-transform:none;
	letter-spacing:0;
	text-align:left
}
h4.confirm {
	font-weight:bold;
	color:#5f7726;
	border-top:2px solid #cbdba7;
	border-bottom:2px solid #cbdba7;
	background:#e5eed1 url(../img/icon-check-green.gif) no-repeat 15px 14px
}
div.error {
	background-color: #ffebe8;
	border-top: 1px solid #c00;
	border-bottom: 1px solid #c00;
}
h4.error {
	color:#963;
	border-top:1px solid #EAC46A;
	border-bottom:1px solid #EAC46A;
	background:#F9E7BD url(../img/icon-alert-error.gif) no-repeat 15px 12px
}
#wrap div.error h4, div.alert h4 {
	margin:0;
	padding:0 0 0 20px;
	font-family:"Lucida Grande", Verdana, sans-serif;
	font-size:120%;
	text-transform:none;
	letter-spacing:0;
	text-align:left;
	color:#c00;
	border:none;
	background:url(../img/icon-alert-error.gif) no-repeat 0px 1px
}
#wrap div.error ul {
	margin:3px 0 7px 35px;
	color:#292212;
	font-weight:normal;
}
#wrap div.error li {
	background-image:none;
	padding:1px 0 1px 0px;
	line-height:1.3em;
	list-style-type:square;
}
#jsCheck {
	margin:15px 0;
	padding:8px 15px;
	border-top:2px solid #EAC46A;
	border-bottom:2px solid #EAC46A;
	background:#F9E7BD
}
#content ul.checklist {
	border:1px solid #ccc;
	list-style:none;
	height:13em;
	overflow:auto;
	width:16em;
	background:#67893d;
	font-family:Tahoma, Geneva, Arial, sans-serif;
	font-size:1.1em;
	color:#d2d8cc;
	margin:0;
	padding:0
}
#content ul.checklist li {
	margin-left:0;
	padding:0;
	line-height:normal;
	background-image:none
}
#content ul.checklist label {
	display:block;
	margin:0;
	border-bottom:1px solid #769550;
	padding:3px 0.2em 3px 25px;
	text-indent:-25px
}
#content ul.checklist label:hover, ul.checklist label.hover {
	background:#306B34;
	color:#fff
}
#content ul.checklist input {
	vertical-align:middle
}
#content ul.spell-checker {
	list-style:none;
	overflow:auto;
	margin:13px 0 0 0
}
#content ul.spell-checker li {
	margin:0;
	padding:0;
	background-image:none
}
#restInfoHeader {
	margin:0 0 3px 0;
	padding:0px 0 3px 0;
	width:500px;
}
#restInfoHeader h1 {
	margin:0 0 9px 0px;
	padding:0;
	font-size:1.6em;
	font-weight:normal;
	text-shadow:#360 0px 1px 1px;
	width:380px;
}
#restInfoHeader #bizRating {
	margin:4px 0px 3px 0px;
	font-size:11px
}
#restInfoHeader #bizRating .rating {
	float:left;
	margin:2.5px 5px 0 0
}
#restInfoContent {
	clear:left;
	width:470px;
}
#content #restCuisine {
	margin-bottom:3px
}
#restInfoContent #contactInfo {
	width:300px;
	float:left;
}
#restInfoContent address {
	margin:0px;
	padding:0;
	line-height:1.3em;
	color:#d46e00
}
#restPhone {
	font-weight:bold;
	color: #d46e00;
}
#restUrl {
	margin-top: 5px;
	width:240px;
	_float:left;
}
#content #nomenuyet {
	float:right;
	width:140px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#161616;
	padding:3px 0;
	margin-bottom:0;
	border:1px dotted #918e81;
	border-left:0;
	border-right:0
}
#menus_link {
	float:right;
	width:175px;
}
#menus_link h3.menu {
	width: 11em;
	margin: 0 0 .5em 0;
	float:right;
	clear:none;
}
#content h3.button {
	border:0;
	background:none;
	padding:0;
	margin:0;
	text-align:center;
	display:block;
	clear:both
}
#content h3.button a {
	line-height:32px;
	background-color:#f5fafe;
	text-align:center;
	display:block;
	border:1px solid #006abb;
	border-color:#AACDE8 #559CD2 #559CD2 #AACDE8;
	text-decoration:none
}
* HTML #content h3.button a {
	height:32px
}
*+html #content h3.button a {
	height:32px
}
#content h3.button a.external {
	background: none;
	padding-right:0px;
}
#content h3.button a:hover {
	color:#0077e6 !important;
	text-decoration:none;
	border-color:#559CD2 #AACDE8 #AACDE8 #559CD2;
	background-position:bottom left
}
.back-to-listing {
	margin: 15px 0 10px 0;
}
.back-to-listing a:link, .back-to-listing a:visited {
	background: url(../img/icon-back.gif) no-repeat left;
	color: #132546 !important;
	padding: 10px 0px 10px 35px;
	text-decoration: none;
	font-size:1.1em;
	font-weight:bold;
	outline: 0;
}
#write_a_review {
	float:right;
	width:145px;
	margin:0;
	padding:0
}
#write_a_review a {
	line-height:25px;
	background:#fef593;
	color:#b42006;
	text-align:center;
	display:block;
	border:1px solid #bdbdbd;
	border-color:#a5a5a5 #dedede #dedede #a5a5a5;
	text-decoration:none
}
#bottom-review-prompt {
	padding:12px 0;
	margin-bottom:11px;
	text-align:center;
	font-size:1.1em;
	line-height:1.4em
}
#bottom-review-prompt #write_a_review {
	float:none;
	margin:0 auto;
}
#bottom-review-prompt p {
	margin:0 0 20px 0
}
#bottom-review-prompt a.button-write {
	margin:0 auto
}
#listing {
	clear:both;
	width:100%
}
#bizBox {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 15px 0px;
	background-color: #fff;
}
#bizInfoBody {
	width: 675px;
	position: relative;
	margin: 0px;
	padding: 0px;
	min-height: 225px;
}
* html #bizInfoBody {
	height: 225px;
}
#bizInfoBody .wrap {
	display:inline;
	float:left;
	overflow:hidden;
	width:510px;
}
#bizAnnouncement {
	width:363px;
	padding:5px 0px 0px 0px;
	margin:15px 0px 10px 0;
	background:url(../img/announce_top.gif) no-repeat #ffffe6;
	margin-left: -1px;
	clear:left;
}
#bizAnnouncement #anncInner {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:0px 7px;
	margin:0px 1px;
}
#bizAnnouncement strong {
	display:block;
	color:#C41200;
}
#bizAnnouncement #anncBtm {
	line-height:7px;
	margin:0px 1px;
	background:url(../img/announce_btm.gif) no-repeat #fff bottom left;
}
#bizAnnouncement #bizAnnounDesc {
	height:18px;
	margin-bottom:5px;
	margin-top:0px;
	overflow:hidden;
}
#content #bizAnnounLinks {
	margin-bottom: 3px;
}
#content #bizAnnounConditions {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 5px;
	padding-top: 3px;
	display:block;
	line-height:normal;
}
#bizAnnounDesc_more, #bizAnnounDesc_less {
	float: right;
}
#bizAnnouncement em {
	float: left;
}
.announcement_type {
	background:url(../img/announcement_map.gif) no-repeat 0 -126px;
	line-height:14px;
	overflow:hidden;
	padding-left:15px;
}
.announcement_type.SPECIAL_OFFER {
	background-position:0 2px;
	padding-left:16px;
}
.announcement_type.UPCOMING_EVENT {
	background-position: 0 -27px;
}
.announcement_type.LIVE_MUSIC {
	background-position:0 -59px;
	padding-left:12px;
}
.announcement_type.HAPPY_HOUR {
	background-position:0 -91px;
	padding-left:13px;
}
#biz_photos_column {
	width: 152px;
	float:right;
	position:relative;
	padding: 0px;
	margin-top:6px;
}
.small_pics {
	margin: 0;
	margin-top: 3px;
}
.small_pics img {
	margin: 0;
	margin-left: 3px;
	border: 0;
}
.small_pics a {
	text-decoration: none;
	padding:0;
}
#listingLeft {
	float:left;
	clear:both;
	width:100%
}
#restAdditionalInfo {
	clear:both;
	padding:1em 0 7px 0
}
#content #restAdditionalInfo ul {
	margin:0;
	padding:0;
	list-style:none;
	width:auto
}
#restAdditionalInfo ul li {
	float:left;
	width:217px;
	letter-spacing:-0.1px;
	font-size:0.9em;
	margin:0 0em 2px 0;
	padding:0;
	background-image:none
}
#restHours {
	margin-top:10px;
	width:310px;
	float:left;
}
#restHours h4 {
	font-size:94%;
	color:#666;
	margin:0;
	padding:0
}
#content #restHours ul {
	margin:0px;
	padding:0px;
	list-style:none
}
#content #restHours li {
	margin:0px;
	padding:0;
	background-image:none;
	line-height:1.3em
}
#restTags {
	margin:0px;
	padding:0
}
#restTags ul {
	margin:0px;
	padding:0px;
	list-style:none
}
#restAdditionalInfo #restTags ul li {
	margin:0px;
	padding:0;
	font-size:1.0em;
	line-height:1.3em
}
#restDesc {
	margin:10px 0 5px 0;
	padding:0px;
	clear:both;
	float:left;
}
#restDesc p {
	margin:0 0 0em 0
}
.clearfix:after {
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
.lineDivider {
	margin:9px 0px 9px 0px;
	border-bottom:1px solid #8bbbea
}
#pageTitle {
	margin:0px 0 15px 0;
	padding:0 0 0 0
}
#pageTitle h1 {
	margin-bottom:0;
	padding-bottom:0
}
#pageTitle p {
	margin:0;
	padding:0;
	font-size:110%
}
#find-box {
	margin:0 0 20px 0;
	padding:10px 0px 5px 0px;
	border-top:2px solid #EEC66E;
}
#find {
	margin:0px 0 0px 0;
	padding:0
}
.searchHint {
	margin:1px 0 10px 0;
	padding:0;
	font-size:90%;
	line-height:normal
}
#find input, #find select {
	vertical-align:middle;
	font-family:verdana, arial, sans-serif;
	font-size:1.1em
}
#find input#search-text {
	width:239px;
	margin-right:5px;
	padding:1px;
	font-size:1.2em
}
#search-filters {
	float:left;
	width:100%;
	font-size:0.9em;
	margin:0.2em 0 0.1em 0
}
#search-filters a {
	color:#333;
	border-bottom:1px dotted #333;
	text-decoration:none
}
#sort-by {
	float:left;
	width:98%;
	border:1px solid #ccc;
	background:#E1E1E1;
	padding:5px 1%;
	margin:0em 0 0.8em 0;
	text-align:right
}
#sort-by span {
	font-size:0.9em;
	color:#333;
	float:left
}
#sort-by select, #sort-by input {
	vertical-align:middle
}
#sort-by #btnSort {
	font-size:8pt;
	font-family:verdana;
	padding:2px
}
.rsslink {
	clear:left;
	text-align:right;
	padding:0px 0 3px 0;
	font-size:0.9em
}
#content p.pagination, p.pagination {
	margin:18px 0 0px 0;
	padding:0;
	font-size:90%;
	font-weight:bold;
	text-align:center
}
#content p.pagination a, p.pagination a, p.pagination
