.ad_small_rectangle_top {
	PADDING-RIGHT: 0px; BORDER-TOP: #b6b6b6 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; PADDING-TOP: 20px; BORDER-BOTTOM: #b6b6b6 1px solid
}
.ad_banner {
	PADDING-RIGHT: 0px; BORDER-TOP: #b6b6b6 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; WIDTH: 100%; PADDING-TOP: 20px; BORDER-BOTTOM: #b6b6b6 1px solid; TEXT-ALIGN: center
}
.ad_small_rectangle_bottom {
	PADDING-RIGHT: 0px; BORDER-TOP: #b6b6b6 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN: 0px 20px 0px 0px; PADDING-TOP: 20px; BORDER-BOTTOM: #b6b6b6 1px solid
}
