/*
@description IE css hacks

@author	Bryan Gullan
@created 2006-05-30

*/

pre {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

table {
	border: 1px solid #B3B3B3;
}
	tbody th, td {
		border-bottom:  1px solid #B3B3B3;
	}
#wrapper, #header {
	width: expression(documentElement.clientWidth < 772 ? "769px" : documentElement.clientWidth > 940 ? "940px" : "100%") !important;
}

#header, #header-wrapper {
	height:auto !important;
	height:172px;
}

body.newsflash #header, body.newsflash #header-wrapper {
	height:auto !important;
	height:195px;
}

body.homepage #header, body.homepage #header-wrapper {
	height:auto !important;
	height:135px;
}

body.homepage h1 {
	height:0;
	line-height:0;
}

body.homepage ul li h2 {
	margin-bottom:7px;
	position:relative;
	width:100%;
	background-position: right 3px !important;
}
	body.homepage ul li h2 a {
		padding-bottom:0 !important;
		background-position: 2px left !important;
	}
	body.homepage #content ul li ul {
		margin-bottom:35px !important;
	}
body.homepage h2.thisisoxford {
	margin-top:2px;
	float:left;
}

#features_menu li.new-addition a {
	background-position: right top !important;
}

/* homepage overlays */
	.overlaycontent .filled, #overlay_tio .nav ul li .boxcontent .popleft, #overlay_tio .nav ul li .boxcontent .popright, #overlay_tio .nav ul li .boxcontent {
		background-color: #373737 !important;
	}

	#header div.find-it {
		width: 470px;
	}
		
		#header div.find-it input.searchbutton {
			margin-bottom:4px;
		}
	
	#quick-links select {
		width:180px;
	}

#nav {
	padding-top:45px;
}		
	#nav li ul{
		margin-top: -2px;
	}
		#primary-nav li a {
			height: 21px;
		}
		#nav-admissions {
			width:11%;
		}

#content {
	width:99%;
}
	
#primary-content {
	width:49%;
}
	#primary-content h1 {
		letter-spacing:1px;
	}
	#primary-content .teasers .newline, #primary-content .teasers-ie .newline {
		margin-right: 1.8%;
	}
	#primary-content .callout blockquote {
		background: url(../img/close-quotation.gif) bottom right no-repeat;
	}
		#primary-content .callout blockquote p {
			background: transparent url(../img/spacer.gif) bottom right no-repeat !important;
		}
	
	#primary-content ol li {
		margin-left:35px;
	}
	#primary-content dl dt {
		margin: 0em 1em 0 0;
		padding: 0.25em 0 0.25em 0em;
		float: left;
		clear: left;
		width: 105px;
	}
	#primary-content dl.event-info dt, #primary-content div.college-info dt {
		width: 125px;
	}
	* html #primary-content dt {
		margin: 0 2em 0 0em;
		clear: left;
	}
	#primary-content dl dd {
		padding: 0.25em 0 0.25em 0em;
		float:left;
		display: block;
		margin-left: 10em;
	}
	
	* html #primary-content dl dd {
		padding: 0.2em 0 0.25em 0em;
		float: none;
		height: 1.2em;
	}
	
	#primary-content dl dd {
		margin: 0 0 0 0em;
		padding: 0em 0 0.25em 0em;
		float: left;
		vertical-align: middle;
	}

.graphicdatebox {
	margin-top:10px;
}

	#tertiary-content .graphicdatebox {
		margin-top:0;
	}

/* NAV drop-downs */
#nav li ul {
	position:absolute;
	top:29px;
}

#primary-content #advanced_always input {
	margin-top: 0;
}


body #recommend-box input#recipient {
	margin-bottom:30px;
}
body #recommend-box input.submitbutton {
	bottom:50px;
}

.overlaycontent .sidemenu {
	margin: 40px 1% 0 2% !important;
}

div.paging ul li.next a{
	background:url(../img/arrow_solid_right.gif) 90% center no-repeat !important;
	padding-right: 12px !important;
}

#features_panel #features_submenu .feature_biographies {
	width: 71%;
}
#features_submenu .feature_facts {
	width:70.5% !important;
}
#features_panel #features_menu li a {
	height: 27px;
}

.photo_info a{
	background-image:url(../img/icon_information_right.gif) !important;
}
	.feature_link_4_selected .photo_info a,
	.feature_link_5_selected .photo_info a,
	.feature_link_6_selected .photo_info a{
		background:url(../img/icon_information_left.gif) 0 0 no-repeat !important;
	}


