#mainmenu	{
position: static;
}

._inputform{
	width:140px; 
	font-size: 13px;
	height: 20px;
	border: 1px solid #9495A2
}
div.menu{
position:absolute;
cursor:default;
overflow-x:visible;
overflow-y:auto;

letter-spacing:1px;
background-color:#f5f5f5;
z-index:100;
filter:progid:DXImageTransform.Microsoft.Shadow (Color=#333333,Direction=135,strength=2);
SCROLLBAR-FACE-COLOR : #cfcdbf ;
SCROLLBAR-HIGHLIGHT-COLOR : #ffffff ;
SCROLLBAR-SHADOW-COLOR : #8e8c80 ;
SCROLLBAR-3DLIGHT-COLOR : #e8e6da ;
SCROLLBAR-ARROW-COLOR : #837a4f ;
SCROLLBAR-DARKSHADOW-COLOR :#ffffff; 
border-top: 1px solid #333333;
border-left: 1px solid #333333;
z-index:200;
}


div.menu div.abc{
cursor:pointer;
width:auto;
padding-bottom:4px;
padding-top:4px;
padding-left:15px;
padding-right:30px;
color:#000;
white-space:nowrap;
font-size:13px;
letter-spacing:1px;
border-collapse:collapse;
background-color:#f5f5f5;
border-top: 1px solid #FFFFFF;
border-right: 1px solid #666666;
border-bottom: 1px solid #666666;
border-left: 1px solid #FFFFFF;
}

div.menu div.abcchk{

width:auto;
padding-bottom:4px;
padding-top:4px;
padding-left:15px;
padding-right:30px;
color:#000;
white-space:nowrap;
font-size:13px;
letter-spacing:1px;
border-collapse:collapse;
background-color:#f5f5f5;
border-top: 1px solid #FFFFFF;
border-right: 1px solid #666666;
border-bottom: 1px solid #666666;
border-left: 1px solid #FFFFFF;
}

div.menu div.def{
width:auto;
cursor:default;
padding-bottom:4px;
padding-top:4px;
padding-left:15px;
padding-right:30px;
color:#000;
white-space:nowrap;
font-size:13px;
letter-spacing:1px;
border-collapse:collapse;
background-color: #f5f5f5;
background-repeat:no-repeat;
background-image: url(../img/icon_arrow_gray01.gif); 
background-position: right center; 
border-top: 1px solid #FFFFFF;
border-right: 1px solid #666666;
border-bottom: 1px solid #666666;
border-left: 1px solid #FFFFFF;
}




.title{
color:#CC6600;
font-weight:bold;
font-size:13px;
width:40px;
padding-right:5px;
}
div.menu div.titleclose{
cursor:pointer;
white-space:nowrap;
padding-left:15px;
padding-right:30px;
	font-size: 13px;
	color:#fff;
	border-collapse: collapse;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #FFFFFF;
	background-color: #888888;

	background-repeat:no-repeat;
	background-image: url(../img/close.gif); 
	background-position: 95% center; 

padding-bottom:4px;
padding-top:4px;
padding-left:8px;
padding-right:30px;
}
a.mytablelink{
text-decoration:underline;
}

a.mytablelink:link{
color:#000000;
text-decoration:underline;
}

.my{
background-color:gold;
font-size:0.76em;
width:160px;
height:120px;
overflow:auto;
position:absolute;
}
.dropdownmenuclass li{
FLOAT: left; 
 
WIDTH: 90%; 
HEIGHT: 14px;  
line-height:10px;
MARGIN-BOTTOM: 1px; 
MARGIN-LEFT: 8px;
MARGIN-TOP: 8px;  
LIST-STYLE-TYPE: none; 
TEXT-ALIGN: left;
display:inline;
font-size:13px;
}
