@charset "UTF-8";

body {
	color: #777777;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:0px;
	padding-bottom:50px;
}

a {
	color:#777777;
	text-decoration: none;
	font-size:12px;
}

a:link {
	color:#777777;
}

a:visited {
	color:#777777;
}

a:hover {
	color: #1F8FB4;
	text-decoration: underline;
}

.submitted {
	display:none;
	color: #999;
	font-size: 12px;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
}

h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-size: 14px;
	font-weight: normal;
}

/******** PAGE SECTORS ***********/
/*********************************/

#SectorExpandedPage{
	width:1024px;
	margin:auto;
}

.SectorPageHeaderFooter{
	width:834px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	clear:both;
	padding:0px;
	overflow: visible;
}

#SectorPageContent{
	width:800px;
	margin:0px auto;
}

/****** END PAGE SECTORS **********/
/**********************************/

/******** HEADER AND FOOTER CLASSES *******/
.header-footer-background-region{
	width:822px;
	height:100%;
	background: #ffffff url(../images/_head-whtbg.jpg);
	background-repeat:repeat-y;
	background-position:0px 0px;
	padding-left:6px;
	padding-right:6px;
	float:left;
	/*position:relative;*/
}

.header-bottom-bar{
	width:834px;
	height:15px;
	background: #ffffff url(../images/_head-bottom.jpg);
	background-repeat:repeat-y;
	background-position:0px 0px;
	float:left;
}

.footer-top-bar {
	width:834px;
	height:19px;
	background: #ffffff url(../images/_foot-top.jpg);
	background-repeat:repeat-y;
	background-position:0px 0px;
	float:left;
}

.footer-bottom-bar {
	width:834px;
	height:11px;
	background: #ffffff url(../images/_foot-bottom.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	float:left;
}


/** Used for header and footer **/
.highlight-bar-grey{
	width:834px;
	height:2px;
	background: #ffffff url(../images/_head-greybg.jpg);
	background-repeat:none;
	background-position:0px 0px;
	float:left;
	overflow:hidden;
}
.highlight-bar-blue{
	width:834px;
	height:2px;
	background: #ffffff url(../images/_head-bluebg.jpg);
	background-repeat:none;
	background-position:0px 0px;
	float:left;
	overflow:hidden;
}


/******** PAGE REGIONS *************/
/***********************************/


 
#wrapperLeftMainRightRegions{
	clear:both;
}


#left-content-region{
	/*background:#669933;*/
	padding:0px;
	float:left;
}


#main-content-region{
	/*background:#66CCC0;*/
	width:800px;
	padding:0px;
	float:left;

}

#main-content-region-0{
	height:0px;
	
}

#main-content-region a:link{
	color:#1F8FB4;
	text-decoration: none;
}
#main-content-region a:hover{
	color:#1F8FB4;
	text-decoration: underline;
}
#main-content-region a:visited{
	color:	#1F8FB4;
	text-decoration: none;
}


/*************************************************/
/** Left content block - main content area **/

#leftContentBlock {
	width:525px;
	float:left;
	font-size:12px;
}

#leftContentBlock h3 {
	color:#404040;
	font-weight:bold;
	font-size: 10px;
	margin:5px 0px;
}

#leftContentBlock b {
	font-weight:bold;
}


#leftContentBlock p {
	margin-top:5px;
	margin-bottom:5px;
}

#rightContentBlock p {
	margin-top:5px;
	margin-bottom:5px;
}


#leftContentBlock .adBox, .adBox {
	float: right; 
	width: 160px; 
	display: inline; 
	padding: 20px; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color:#F7F7F7;
	font-size: 14px;
}

#leftContentBlock .floatLeft {
	padding-right: 5px;
	float:left;	
}

#leftContentBlock .floatClear {
	clear:both;
}

#leftContentBlock UL{
	font-size:10px;
	margin:0px;
	padding-left:15px;
}

#leftContentBlock LI{

}


.orangeHighlight {
	color: #EE661A;
}



/*************************************************/
/** Right content block - sidebar area **/

#rightContentBlock {
	width:250px;
	padding-left:15px;
	float:left;
}

#rightContentBlock .sidebarTitle {
	border: 0px;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 21px;
}

#rightContentBlock .sidebarTitle p {
	margin:0px;
}

#rightContentBlock .sidebarText {
	border: 1px solid #1F8FB4;
	margin-bottom: 20px;
	margin-top:5px;
	padding: 10px 20px;
	font-size: 11px;
}

#rightContentBlock .sidebarText p {
	margin:0px;
}

#rightContentBlock .sidebarImage p {
	margin:5px 0 0;
}


/*************************************************/
/*********** LEVEL 1 Landing Page ****************/

/* level 1 main header */

#level1Node #leftContentBlock h1 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top:10px;
}

#level1Node #leftContentBlock h2 {
	font-size: 14px;
	font-weight: normal;
}


#level1Node #leftContentBlock .listItemWrapper, .listItemWrapper {
	clear: left;
	display: block;
	
}

#level1Node #leftContentBlock .listItemImage, .listItemImage,
#level1Node #leftContentBlock .listItemText, .listItemText {
	float:left;
	display: block;
	height:auto;
	margin-bottom:10px;
	min-height: 80px;
}

#level1Node #leftContentBlock .listItemImage, .listItemImage {
	width: 80px;
	padding-top: 3px;
	
}

#level1Node #leftContentBlock .listItemText, .listItemText {
	padding-left:10px;
	width: 400px;
}

 
#level1Node  #leftContentBlock .listItemWrapper .listItemImage img, .listItemImage img {
	width:80px;
	height:80px;
	border:0px;
}


/****** END LEVEL 1 Landing Page *****************/


/*************************************************/

/* level 2 main header */
#level2Node #leftContentBlock h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #5A8A27;
}

/* level 2 sub header */
#level2Node #leftContentBlock h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-size: 12px;
	color: #808080;
	font-weight: normal;
}



#footer-region {
	text-align:right;
	font-size:9px;
	margin-right: 10px;
	margin-top:2px;
	overflow:hidden;
}

/******* BOTTOM CONTENT BLOCKS ************/

#bottom-left-region, #bottom-middle-region, #bottom-right-region{
	width:259px;
	background:#ffffff;
	padding-bottom:10px;
	padding-top:0px;
	float:left;
	margin-left: 11px;
}

#bottom-left-region {
	margin-left: 11px !important;
	margin-left: 6px;
}

#bottom-left-region H1, #bottom-middle-region H1, #bottom-right-region H1{
	font-size:12px;
	font-weight:normal;
	color:#1F8FB4;
	
	display:block;
	height:16px;
	
	margin-bottom:5px;
	margin-top:0px;
	padding-top:4px;
	padding-left:10px;
	
	background-image:url(../images/footer-title-bg.jpg);
	background-position:left;
	background-repeat:no-repeat;	
}


#bottom-left-region .article, #bottom-middle-region .article, #bottom-right-region .article{
	font-size:9px;
	padding-left:10px;
	padding-right:10px;
}


/******* END BOTTOM CONTENT BLOCKS ************/



/*****************************************/
/*              SEARCH FORM              */
/*****************************************/

.search-box {	
	margin-top:7px;	
	float:right;
}

/* this is attached to the search box*/
#buy-tickets {
	display:block;
	position:relative;
	left:28px;
	top:5px;
	font-size:9px;
	color:#3e8cad;
}

#buy-tickets a{
	color:#3e8cad;
}
/* end attached to the seacrh box*/

#donate-now {
	display:block;
	height:50px;
	width:290px;
	text-align:right;
	position:relative;
	left:0px;
}

#searchBoxContentWrapper{	
	width:300px;
	height:200px;
	background:#FFFFFF;
	
	clear:both;
}

#searchBoxContentWrapperLeft, #searchBoxContentWrapperMiddle, #searchBoxContentWrapperRight{
	height:17px;
}

#searchBoxContentWrapperLeft{
	width:20px;
	background:url(../images/searchbox_left.jpg);
	background-repeat:no-repeat;
	background-position: top right;
	float:left;
}

#searchBoxContentWrapperMiddle{
	width:250px;
	background:#c7cac9;
	float:left;
}

#searchBoxContentWrapperRight{
	width:20px;
	background:url(../images/searchbox_right.jpg);
	background-repeat:no-repeat;
	background-position: top left;
	float:left;
}

#search .form-text, #search .form-submit {
	border:0px;
	vertical-align: top;
	padding-left:10px;
}

#search .form-text {
	width: 200px;
	height:12px;
	color:#555555;
	font-size: 9px;
	font-weight:normal;
	margin-top:1px;
	background:#c7cac9;
}

#search .form-submit{
	text-aligh:right;
}


ul.nice-menu{
  margin-top: 2px;
}

ul.nice-menu ul{
	 border-top: 0;
	 position:absolute;
}

/* This eliminates the 
 boders around menu items */
ul.nice-menu li {
  border: 0;
}

ul.nice-menu li {
  	border: 0px;
	width:auto;
	padding-left:10px;
	min-width: 90px;	
}


ul.nice-menu-down {
  position: relative;
  float:right;
}

/* This controls the menu font */
ul.nice-menu-down li {
  font-size:12px;
  padding-left:3px;
  padding-right:7px;
}

ul.nice-menu-down li ul li{
	font-size:12px;
}

ul.nice-menu-down li ul li ul,
#header-region ul.nice-menu-down li ul li ul {
  left: 144px;
  top: 0px;
}

ul.nice-menu-down li.menuparent,
#header-region ul.nice-menu-down li.menuparent {
  	background:#FFFFFF;
	color:1F8FB4;
}

ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
    background:#FFFFFF;
	color:1F8FB4;
}

ul.nice-menu-down li li.menuparent,
#header-region ul.nice-menu-down li li.menuparent {
    background:#E9F4F7;
}

ul.nice-menu-down li li.menuparent:hover,

ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
    background:#E9F4F7;
}

#header-region ul.nice-menu ul{
	border-top:0px;
	text-align:left;
}


#header-region ul.nice-menu li{
	text-decoration:none;
	background:#ffffff;
	border-left: solid 1px  #FFFFFF;
	font-style: normal;
	
}

#header-region ul.nice-menu li a{
	text-decoration:none;
	padding-right: 3px; /* override of default 15 px */
	padding-left: 3px;
}


#header-region ul.nice-menu li ul li{
	background:#E9F4F7;
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	opacity:.90; 
}

#header-region ul.nice-menu li ul{
	padding-top:11px;
}

#header-region .center-container {
	position: absolute; left: 0pt; top: 0pt; right: 0pt;
}

#header-region .center {
	position: relative;
	float: left;
	left: 50%;
}


#breadcrumbs {
 	clear:both;
}
.breadcrumb {
	padding-left:10px;
	padding-bottom:10px;
	float:left;
	color: #555555;
	font-size: 12px;
}

.breadcrumb a{
	color:#555555;
}

.breadcrumb a:hover{
	color:#1F8FB4;
}




.title{
	font-size:16px;
}

.node{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

.block {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.block .title {
 	font-size:13px;
 
}

